<%= form_tag '/relatorios.json', method: :get, remote: true do -%>
  <p>
    <%= label_tag 'Data mínima' %><br>
    <%= date_select("datas", "data_min", discard_day: true, default: Date.new(2007, 01, 01)) %>
  </p>
  <p>
    <%= label_tag 'Data máxima' %><br>
    <%= date_select("datas", "data_max", discard_day: true, default: Date.new(2007, 02, 01)) %>
  </p>
  <%= select "usuarios", "co_usuario", @consultores.collect { |c| [ c.no_usuario, c.co_usuario ] }, {}, size: 5, multiple: true %>
  <%= submit_tag :relatorio, id: :relatorio %>
  <%= submit_tag :grafico, id: :grafico %>
  <%= submit_tag :pizza, id: :pizza %>
<% end -%>

<div id="output"></div>
