// Place all the styles related to the Consultores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#output {
    margin: 100px;
    margin-top: 20px;
}